<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>J Coin - Load Wallet</title>
</head>
<body>
    <p>
        <form action="/" method="get">
            <input type="submit" value="Go Back" >
        </form>
    </p>
    <form method="post" action="/load-wallet">
        <p>
            <label>
                Address:
                <input type="text" size="60" name="address">
            </label>
        </p>
        <p>
            <input type="submit" value="Load Wallet">
        </p>
    </form>
</body>
</html>